/* Color Names */
$lime-green: #95F238;            // Cor vibrante verde-limão
$light-lime-green: #AAF23D;      // Cor verde-limão mais clara
$dark-olive-green: #87BF34;      // Verde oliva escuro
$light-gray: #BFBFBF;            // Cinza claro
$almost-black: #0D0D0D;          // Quase preto